#snacks.menu
	%h2.center.line SNACKS
	%div.line.gray.item
		%h4.dish PICKLED EGG
		%h4.price.right$4
		%p.description mustard, charred onion, kimchi
	%div.line.gray.item
		%h4.dish JERKY
		%h4.price.right$6
		%p.description rotating selection, please ask your bartender
	%div.line.gray.item
		%h4.dish BREAD & BUTTER
		%h4.price.right$6
		%p.description grilled crostini with cultured butter
#small-plates.menu
	%h2.center.line SMALL PLATES
	%div.line.gray.item
		%h4.dish BOUDIN
		%h4.price.right$9
		%p.description apple hot sauce, candied brewers grain, pig weed
	%div.line.gray.item
		%h4.dish RYE TORTELLONI
		%h4.price.right$12
		%p.description rassione kale, ricotta, black butter, wolfamer, noonday onion
	%div.line.gray.item
		%h4.dish FOLDED PASTA
		%h4.price.right$12
		%p.description windy hill goat, berbere, smoked fresh cheese, whey caramel
	%div.line.gray.item
		%h4.dish SUMMER VEGETABLES
		%h4.price.right$15
		%p.description smoked tomato, okra, neon eggplant, willoughby, toast broth
#boards.menu
	%h2.center.line BOARDS
	%div.line.gray.item
		%h4.dish CHARCUTERIE
		%h4.price.right$22
		%p.description fresh and cured meats, pickles, jam, crackers
	%div.line.gray.item
		%h4.dish BREWER
		%h4.price.right$22
		%p.description face bacon, cultured butter, pickled onion, grilled crostini, marinated cheese
	%div.line.gray.item
		%h4.dish CHEESE
		%h4.price.right$12
		%p.description please ask for the current pairings
#share.menu
	%h2.center.line SHARE <span class="small">(not availible Tuesday &amp; Wednesday)</span>
	%div.line.gray.item
		%h4.dish FRIED WILD MUSHROOMS
		%h4.price.right$10
		%p.description pickled onion, sunflower, mayu
	%div.line.gray.item
		%h4.dish LAMB TARTARE
		%h4.price.right$12
		%p.description heirloom greens, plum, soured honey, puffed rice, dill pollen, herbs
	%div.line.gray.item
		%h4.dish HERITAGE PIG TAIL
		%h4.price.right$17
		%p.description malted milk, spiced strawberry, artichoke, wild onion, fish salt
#snacks.menu
	%h2.center.line ENTREE <span class="small">(not availible Tuesday &amp; Wednesday)</span>
	%div.line.gray.item
		%h4.dish STRANGOLAPRETI
		%h4.price.right$17
		%p.description preserved winter squash, green garlic, rae lili turnip, leek
	%div.line.gray.item
		%h4.dish STERLING LAMB COPPA
		%h4.price.right$17
		%p.description roasted beet trinxat, asparagus, red-eye jus, kentucky rose
	%div.line.gray.item
		%h4.dish WINDY MEADOWS CHICKEN 
		%h4.price.right$18
		%p.description sausage, torihamu, new crop potato, fennel, buttermilk
	%div.line.gray.item
		%h4.dish PORK BELLY
		%h4.price.right$20
		%p.description rye malt porridge, licorice root, roasted carrot, charred greens
