%div.container
	%div.grid.full.blurb
		%div.line
%div.container
	%div.grid.full
		%img{:src => "@path 4-image-bar.jpg"} 
%div.container
	%div.grid.full.blurb
		%div.line
#footer.container
	// closing remarks
	%div.grid.full
		%h5.center.tight Special thanks to <a href="http://www.studiomast.co" target="blank">studiomast.co</a>, <a href="http://kelseyfoster.co" target="blank">kelseyfoster.co</a>, and <a href="http://www.wearetelegraph.com" target="blank">wearetelegraph.com</a> for all their generous help and insight.
		%h5.center.tight <img class="size-16 star-small" src="@path star-small.png"/>
		%h5.center.tight ALL TEXT AND IMAGES COPYRIGHT SMALL BREWPUB, INC. 2014-2016.
%div.container
	%div.grid.full.blurb
		%div.line

/ Scripts

<!-- @javascript jquery-1.9.0.min respond.min retina-1.1.0.min google.js scripts -->
	
/ HTML5 IE Enabling Script
/[if lt IE 9]
<!-- @javascript html5 -->