#snacks.menu
	%h2.center.line SHARE
	%div.line.gray.item
		%h4.dish PICKLED EGG
		%h4.price.right$4
		%p.description mustard, charred onion, kimchi
	%div.line.gray.item
		%h4.dish FRIED WILD MUSHROOMS
		%h4.price.right$12
		%p.description pickled onion, sunflower, mayu
	%div.line.gray.item
		%h4.dish SOUR SQUASH FRITTERS
		%h4.price.right$13
		%p.description pickled pigs feet, windy hill pepper jam, corriander spiced moqua	
	%div.line.gray.item
		%h4.dish WINDY HILL GOAT TARTARE
		%h4.price.right$15
		%p.description pear, buttermilk curd, ginger snap, fine, verde, IPA mustard
	%div.line.gray.item
		%h4.dish FALL VEGETABLES
		%h4.price.right$15
		%p.description king trumpet mushroom, smoked peanut, turnips, greens, noyeux
#small-plates.menu
	%h2.center.line PASTA
	%div.line.gray.item
		%h4.dish 44 FARMS BEEF HEART RAVIOLI
		%h4.price.right$13
		%p.description black butter, whipped goat’s milk, spiced pecan, sage
	%div.line.gray.item
		%h4.dish FENNEL FUNGHETTI
		%h4.price.right$13
		%p.description preserved eggplant, seaweed, n’djua spice, mustard
#boards.menu
	%h2.center.line BOARDS
	%div.line.gray.item
		%h4.dish CHARCUTERIE
		%h4.price.right$22
		%p.description fresh and cured meats, pickles, jam, crackers
	%div.line.gray.item
		%h4.dish BREWER
		%h4.price.right$22
		%p.description face bacon, cultured butter, pickled onion, grilled crostini, marinated cheese
	%div.line.gray.item
		%h4.dish CHEESE
		%h4.price.right$12
		%p.description please ask for the current pairings
	%div.line.gray.item
		%h4.dish BREAD & BUTTER
		%h4.price.right$6
		%p.description grilled crostini with cultured butter
#snacks.menu
	%h2.center.line ENTREE
	%div.line.gray.item
		%h4.dish MASA BALLS
		%h4.price.right$18
		%p.description san simone broth, sour corn, sweet potato, lemon balm, hibiscus leaf
	%div.line.gray.item
		%h4.dish PORK LOIN
		%h4.price.right$20
		%p.description lactic brine, celery root three ways, black pudding
	%div.line.gray.item
		%h4.dish WINDY MEADOWS HALF CHICKEN
		%h4.price.right$22
		%p.description salt roasted sunchoke and carrot, cabbage, braised neck, schmaltz
#share.menu
	%h2.center.line DESSERT
	%div.line.gray.item
		%h4.dish CHOCOLATE
		%h4.price.right$9
		%p.description pecan amaretti, cacoa nibs, milk, spent vanilla, saison vinegar, herbs
	%div.line.gray.item
		%h4.dish FRUIT
		%h4.price.right$9
		%p.description canary melon, white chocolate, zucchini fluff, cocchi, marigold, sacred basil
