#snacks.menu
	%h2.center.line SNACKS
	%div.line.gray.item
		%h4.dish PICKLED EGG
		%h4.price.right$4
		%p.description mustard, charred onion, kimchi
	%div.line.gray.item
		%h4.dish BREAD & BUTTER
		%h4.price.right$6
		%p.description grilled crostini with cultured butter
#small-plates.menu
	%h2.center.line SMALL PLATES
	%div.line.gray.item
		%h4.dish BOUDIN
		%h4.price.right$9
		%p.description apple hot sauce, candied brewers grain
	%div.line.gray.item
		%h4.dish RYE TORTELLONI
		%h4.price.right$12
		%p.description rassione kale, ricotta, black butter, wolfamer, noonday onion
	%div.line.gray.item
		%h4.dish FOLDED PASTA
		%h4.price.right$12
		%p.description windy hill goat, berbere, smoked fresh cheese, whey caramel
	%div.line.gray.item
		%h4.dish FALL VEGETABLES
		%h4.price.right$15
		%p.description king trumpet mushroom, smoked peanut, turnips, greens, noyeux
#boards.menu
	%h2.center.line BOARDS
	%div.line.gray.item
		%h4.dish CHARCUTERIE
		%h4.price.right$22
		%p.description fresh and cured meats, pickles, jam, crackers
	%div.line.gray.item
		%h4.dish BREWER
		%h4.price.right$22
		%p.description face bacon, cultured butter, pickled onion, grilled crostini, marinated cheese
	%div.line.gray.item
		%h4.dish CHEESE
		%h4.price.right$12
		%p.description please ask for the current pairings
#share.menu
	%h2.center.line SHARE <span class="small">(not availible Monday &amp; Tuesday)</span>
	%div.line.gray.item
		%h4.dish FRIED WILD MUSHROOMS
		%h4.price.right$12
		%p.description pickled onion, sunflower, mayu
	%div.line.gray.item
		%h4.dish FROG LEGS
		%h4.price.right$13
		%p.description homestead grits, fermented sweet pepper, pecan ember tomato, roux
	%div.line.gray.item
		%h4.dish WINDY HILL GOAT TARTARE
		%h4.price.right$15
		%p.description pear, buttermilk curd, ginger snap, fine, verde, IPA mustard
	%div.line.gray.item
		%h4.dish HERITAGE PIG TAIL
		%h4.price.right$17
		%p.description malted milk, spiced strawberry, artichoke, wild onion, fish salt
#snacks.menu
	%h2.center.line ENTREE <span class="small">(not availible Monday &amp; Tuesday)</span>
	%div.line.gray.item
		%h4.dish MASA BALLS
		%h4.price.right$17
		%p.description san simone broth, sour corn, sweet potato, lemon balm, hibiscus leaf
	%div.line.gray.item
		%h4.dish 44 FARMS BEEF BELLY
		%h4.price.right$18
		%p.description summer squash, fernet, tongue, radish, tarragon
	%div.line.gray.item
		%h4.dish WINDY MEADOWS CHICKEN 
		%h4.price.right$18
		%p.description sausage, torihamu, new crop potato, fennel, buttermilk
	%div.line.gray.item
		%h4.dish PORK BELLY
		%h4.price.right$20
		%p.description rye malt porridge, licorice root, roasted carrot, charred greens
#share.menu
	%h2.center.line DESSERT <span class="small">(not availible Monday &amp; Tuesday)</span>
	%div.line.gray.item
		%h4.dish CHOCOLATE RICE PUDDING
		%h4.price.right$9
		%p.description rae lili chilies, marshmallow, tarragon, hops
	%div.line.gray.item
		%h4.dish FRUIT
		%h4.price.right$9
		%p.description canary melon, white chocolate, zucchini fluff, cocchi, marigold, sacred basil
