#snacks.menu
	%h2.center.line SHARE
	%div.line.gray.item
		%h4.dish PICKLED EGG
		%p.description bourbon barrel soy, allium, kimchi, bulgar wheat
	%div.line.gray.item
		%h4.dish FRIED WILD MUSHROOMS
		%p.description pickled onion, sunflower, mayu
	%div.line.gray.item
		%h4.dish TASSIONE BEETS WITH BEEF LARDO
		%p.description warm &amp; pickled beets, green garbonzo, whey, tangerine &amp; basil gremolata
	%div.line.gray.item
		%h4.dish WINTER VEGETABLES
		%p.description rapini, tomaya, preserved green chili, injera, farm yolk, pickled shiitake
	%div.line.gray.item
		%h4.dish STERLING LAMB SWEETBREADS
		%p.description oak leaf saag, cultured cream, egg whites, pickled red onion
#small-plates.menu
	%h2.center.line PASTA
	%div.line.gray.item
		%h4.dish ROASTED BARLEY LASAGNOTTE
		%p.description confit pork tongue, mizuna, smoked cracklin'
	%div.line.gray.item
		%h4.dish ROMANESCO FAGOTELLI
		%p.description fresh cheese, avocado, wheat & sour rye crumble
#boards.menu
	%h2.center.line BOARDS
	%div.line.gray.item
		%h4.dish CHARCUTERIE
		%p.description fresh and cured meats, pickles, jam, crackers
	%div.line.gray.item
		%h4.dish PICKLE
		%p.description rotating selection of pickled vegetables, fruits, and grains.
	%div.line.gray.item
		%h4.dish BREWER
		%p.description face bacon, cultured butter, pickled onion, grilled crostini, marinated cheese
	%div.line.gray.item
		%h4.dish CHEESE
		%p.description please ask for the current pairings
	%div.line.gray.item
		%h4.dish BREAD & BUTTER
		%p.description grilled crostini with cultured butter
#snacks.menu
	%h2.center.line ENTREE
	%div.line.gray.item
		%h4.dish GNOCCHI
		%p.description winter rafu, rutabega xips, taso smoked squash, sprouts, fennel
	%div.line.gray.item
		%h4.dish STERLING LEG OF LAMB
		%p.description fazolia, chard, bitter satsuma, montenegro, lardons
	%div.line.gray.item
		%h4.dish WINDY MEADOWS CHICKEN
		%p.description meyer lemon, bloomsdale spinich, koji, candied skin, farse
	%div.line.gray.item
		%h4.dish 44 FARMS TRI-TIP
		%p.description 1015 onion, black radish, amaranth, campo cheese, smoked ham
#share.menu
	%h2.center.line DESSERT
	%div.line.gray.item
		%h4.dish CHOCOLATE
		%p.description small chocolate stout, english dark crystal malt, shortbread, sea salt
	%div.line.gray.item
		%h4.dish FRUIT
		%p.description grapefruit, butterscotch, effervescent lemon, peanut brittle, sorachi ace hops
