%head
	%title <!-- $title -->
	/ Meta
	%meta{"charset" => "utf-8"}
	%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
	%meta{"name" => "description", :content => "<!-- $description | Description -->"}		
	%meta{ :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', :name => 'viewport' }

	/ Link
	%link(rel="alternate" type="application/rss+xml" href="#" title="Feed")
	%link(rel="canonical" href="#")
	%link(rel="author" title="<!-- $small | Author -->")
	%link(rel="search" href="#" title="Search")

	/ Robots
	%meta{"name" => "robots", :content => "index,follow"}


	/ CSS
	<!-- @stylesheet assets/css/* -->

	/ JS
	<!-- @javascript instafeed.min.js scripts -->