%ul.grid.nav.left
	%li
		%a#logo{:title => "HOME", :href => "@path index.html" } <img class="size-33 star-nav" src="@path star-nav.png"/>
	%li
		%a{:title => "MENUS", :href => "@path food.html" } MENUS
	%li
		%a{:title => "BREWERY", :href => "@path brewery.html" } BREWERY
	%li
		%a{:title => "CONTACT", :href => "@path contact.html" } CONTACT