%ul.nav.secondary
	%li
		%a{:title => "FOOD", :href => "@path food.html" } FOOD
	%li <img class="size-16 star-small" src="@path star-small.png"/>
	%li
		%a{:title => "SMALL BEERS", :href => "@path menus/small-beers.html" } SMALL BEERS 
	%li <img class="size-16 star-small" src="@path star-small.png"/>
	%li
		%a{:title => "MIXED DRINKS", :href => "@path menus/mixed-drinks.html" } MIXED DRINKS
	%li <img class="size-16 star-small" src="@path star-small.png"/>
	%li
		%a{:title => "BEER, WINE, AND OTHER DRINKS", :href => "@path menus/beer-wine.html" } BEER, WINE, &amp; OTHER DRINKS