%ul.grid.nav.right
	%li
		%h4.blurb 4PM&mdash;Midnight, CLOSED SUNDAY &amp; MONDAY
		%h4.location <a href="https://www.google.com/maps/place/Small+Brewpub/@32.743174,-96.826949,15z/data=!4m2!3m1!1s0x0:0x78ef8952a034b67e!6m1!1e1" target="blank" title="333 W. JEFFERSON BLVD, DALLAS">333 W. JEFFERSON BLVD, DALLAS<img class="size-16 star-small" src="@path star-small.png"/> TEXAS</a>