%ul.nav.secondary
	%li
		%a{:title => "BREWERS", :href => "@path contact.html" } Brewers
	%li <img class="size-16 star-small" src="@path star-small.png"/>
	%li
		%a{:title => "FRONT OF HOUSE", :href => "@path staff/FOH.html" } Bartenders 
	%li <img class="size-16 star-small" src="@path star-small.png"/>
	%li
		%a{:title => "BACK OF HOUSE", :href => "@path staff/BOH.html" } Kitchen
