<!-- $title Small Brewpub, Oak Cliff, TX | Small Brewery -->
<!-- $author Aaron Garcia | http://aarongarcia.com -->

!!! 5

%html{"dir" => "ltr", :lang => "en"}	
	<!-- @include _head -->
	%body#brewery
		%div.container
			%div.grid.full
				%div.line
		%div.container
			// nav
			%div.grid.half
				<!-- @include _main-nav -->
		%div.container
			%div.grid.half
				%div.line.nav-respond
				<!-- @include _right-nav -->
		%div.container
			%div.grid.full
				%div.line
				%p.blurb.gray We have a 5bbl brewery that was built from the ground up out of repourposed dairy tanks by Aaron and Primo, (the brewers). Our approach is a little more old fashioned than most, it's very manual and hands-on but that's how we prefer it. Our recipe book is large and taps are always changing. We're not afraid to use wild yeast and bacteria when it suits us and our barrel program is always fun and exciting.
				%div.line
		%div.container
			// small beer menu
			#small-beers.menu.grid.half
				#beer-archive
					%h4.center.tight OUR BEER ARCHIVES
					%h5.center.tight (things we've brewed before and will likely brew again)
					%h5.center.line.title.tight <a href="@path small-beers.html">IN CASE YOU MISSED IT, CHECK OUT OUR BEER MENU TO SEE WHATS ON DRAFT RIGHT NOW</a>
					%div.line.item
						%h4.dish MISTICAL PLUM, fruit beer
						%h4.dish.right 18 IBU, 17 SRM, 4.7% ABV
						%p.description.thin-line This is a colaboration with Misti our head chef. A classic saison at its base but starts getting interesting with wild plums from Rae Lili Farm, lemon thyme salt, and orange blossom. It's tart plum, floral, and herbal.
					%div.line.item
						%h4.dish DARK SEASON, robust saison
						%h4.dish.right 35 IBU, 28 SRM, 7.5% ABV
						%p.description.thin-line With malt bill that more closely resembles a stout this beer does not fit neatly into any catagories, it does however make up for it with flavor. Fermented with French and Belgian yeast strains. Make sure and check out our barrel aged version of this as well.
					%div.line.item
						%h4.dish ENGLISH IPA, IPA
						%h4.dish.right 20 IBU, 12 SRM, 8% ABV
						%p.description.thin-line A big malty classic English IPA with heirloom English barley. German hops for bittering and a ton of British hops for flavor and aroma.
					%div.line.item
						%h4.dish DARKER SEASON, barrel aged robust saison
						%h4.dish.right 20 IBU, 9 SRM, 6.2% ABV
						%p.description.thin-line We took our Dark Season robust saison and aged it in Madeira barrels from our friends Haak wines down in Santa Fe, Texas. We also pitched some of our local wild yeast and added some dark candi syrup to boost the gravity a bit and give something to the wild yeast to chew on. Six months later it yielded a dry slightly sour saison with complex roasty and Belgian yeast flavors.
					%div.line.item
						%h4.dish ENGLISH NUT BROWN, strong ale
						%h4.dish.right 45 IBU, 24 SRM, 8.3% ABV
						%p.description.thin-line A big nutty beer with a very complex malt profile which includes, English pale, biscuit, amber, and dark crystal malts. Hopped with American and German hops. Great to sip at the end of the night.
					%div.line.gray.item
						%h4.dish WILD NUT BROWN, oak aged nut brown blend
						%h4.dish.right 45 IBU, 24 SRM, 8.3% ABV
						%p.description.thin-line We took some of our oak aged english nut brown and blended it with some of our wild fermented farmhouse beers, it's oakey, malty and a bit funky. Very limited quantity.
					%div.line.item
						%h4.dish CHEAP BEER, american summer ale
						%h4.dish.right 45 IBU, 24 SRM, 5% ABV
						%p.description.thin-line A classic summer beer that has been known as our 'Cheap Beer' ever since the homebrew days. A simple American barley base with a touch of rye and hopped lightly with cascade hops.
					%div.line.item
						%h4.dish LENT BEER, lenten rauchbier
						%h4.dish.right 45 IBU, 24 SRM, 3.2% ABV
						%p.description.thin-line This historically inspired German beer was an absolute blast to brew. We smoked a portion of Vienna malt with oak and pecan wood. Fermented it as a traditional altbier and added a touch of salt to make a dry savory brew that will help you feel like a fasting monk. We release this beer every year on Ash Wedesday.
					%div.line.item
						%h4.dish SMALL IPA, american IPA 
						%h4.dish.right 45 IBU, 24 SRM, 6.7% ABV
						%p.description.thin-line A balanced American IPA brewed light on the bittering and heavy on the flavor and aroma. 100% British heirloom barley and a diverse blend of spicy, herbal, and citrusy hops.
					%div.line.item
						%h4.dish PORCH MATE PALE, american pale ale 
						%h4.dish.right 45 IBU, 24 SRM, 6% ABV
						%p.description.thin-line A classic APA that has a touch of Britich amber malt and a ton of Cascade hops.
					%div.line.item
						%h4.dish WILD PALE ALE, spontaneously fermented pale ale
						%h4.dish.right 20 IBU, 9 SRM, 6.2% ABV
						%p.description.thin-line A version of our APA that undergoes a spontaneous fermentation and is then aged in red wine barrels. Dry and funky with a citrusy flavor from the wild yeast and bacteria.
					%div.line.item
						%h4.dish GOLDEN SAISON, classic farmhouse saison
						%h4.dish.right 20 IBU, 12 SRM, 5.6% ABV
						%p.description.thin-line A classic Belgian saison with a healthy amount of wheat, rye, and oats. Super dry finish and a spicy yeast profile.
					%div.line.item
						%h4.dish HOP SANDWICH, rye pale ale
						%h4.dish.right 66 IBU, 14 SRM, 6.1% ABV
						%p.description.thin-line A thick malty pale ale with British rye and German wheat, dry hopped extinsively with Santiam hops.
					%div.line.item
						%h4.dish GRANNY GEAR, summer ale
						%h4.dish.right 10 IBU, 10 SRM, 4.5% ABV
						%p.description.thin-line A super easy drinking summer ale that has a touch of lime zest and salt. Grain bill is made up of American two-row barley, yellow corn, and rice. If you can't mash, spin.
					%div.line.item
						%h4.dish WATERMELON WHEAT, fruit beer
						%h4.dish.right 25 IBU, 9 SRM, 4.8% ABV
						%p.description.thin-line American two-row barley, white wheat, and a ton of fresh Texas watermelon.
		%div.container.instagram
			#instafeed.grid.half.menu
				%h2.center.line Some photos from our <a href="https://instagram.com/smallbrewpub/">Instagram feed</a>
				:javascript
					var feed = new Instafeed({
						get: 'user',
						userId: 1190863475,
						accessToken: '1190863475.467ede5.bfa9ae79b5544512976202caa4df38ea',
						resolution: 'standard_resolution',
						template: '<div class="insta"><a href="{{link}}" target="blank" title="{{caption}}"><img src="{{image}}" /></a></div>',
						sortBy: 'random',
						filter: function(image) {
							return image.tags.indexOf('brewery') >= 0;
						}
					});
					feed.run();

		// footer
		<!-- @include _footer -->