<!-- $title Small Brewpub, Oak Cliff, TX | Guest Beer Menu -->
<!-- $author Aaron Garcia | http://aarongarcia.com -->

!!! 5

%html{"dir" => "ltr", :lang => "en"}	
	<!-- @include _head -->
	%body#menu-guest-beers
		%div.container
			%div.grid.full
				%div.line
		%div.container
			%div.grid.half
				<!-- @include _main-nav -->
		%div.container
			%div.grid.half
				%div.line.nav-respond
				<!-- @include _right-nav -->
		%div.container
			%div.grid.full
				%div.line
		%div.container
			// secondary nav
			%div.grid.full
				<!-- @include _menu-nav -->
		%div.container
			%div.grid.full
				%div.line
				%p.blurb.gray We have six guest beer taps, wine, and non-alchoholic drinks. Our guest beer taps are from all around the country and world. Wines focus on approachability. Our non-alchoholic drinks include fresh lemonade, root beer, coca-cola, and topo chico.
		// footer
		<!-- @include _footer -->