<!-- $title Small Brewpub, Oak Cliff, TX | Small Beer Menu -->
<!-- $author Aaron Garcia | http://aarongarcia.com -->

!!! 5

%html{"dir" => "ltr", :lang => "en"}	
	<!-- @include _head -->
	%body#menu-small-beers
		%div.container
			%div.grid.full
				%div.line
		%div.container
			// nav
			%div.grid.half
				<!-- @include _main-nav -->
		%div.container
			%div.grid.half
				%div.line.nav-respond
				<!-- @include _right-nav -->
		%div.container
			%div.grid.full
				%div.line
		%div.container
			// secondary nav
			%div.grid.full
				<!-- @include _menu-nav -->
		%div.container
			%div.grid.full
				%div.line
				%p.blurb.gray The beautiful thing about being a Small brewery is the flexibility. While we have a few beers that stay in rotation, (Black Pepper Pils for example) beyond that it gets very interesting. We always have four on draft and they are constantly changing.
				%div.line
		%div.container
			// small beer menu
			#small-beers.menu.grid.half
				%h2.center.line ON DRAFT NOW
				%div.line.gray.item
					%h4.dish WEST COAST IS THE BEST COAST, IIPA
					%h4.dish.right 100? IBU, 17 SRM, 8.3% ABV
					%p.description.thin-line A big malty double IPA, huge flavor and aroma, smooth bitterness. Enjoy it while its fresh!
				%div.line.gray.item
					%h4.dish TABLE BEER, wild ale
					%h4.dish.right 15 IBU, 10 SRM, 3.0% ABV
					%p.description.thin-line A tart, funky wild ale fermented in oak wine barrels.
				%div.line.gray.item
					%h4.dish BLACK PEPPER PILS, spiced beer
					%h4.dish.right 18 IBU, 13 SRM, 5.5% ABV
					%p.description.thin-line A crisp and slightly spicy base of 95% German Bohemian Pilsner and 5% British Rye. Spiced in boil six different botanicals. Fermented with a dry English yeast strain.
				%div.line.gray.item
					%h4.dish CHOCOLATE STOUT, dry irish stout
					%h4.dish.right 18 IBU, 13 SRM, 6% ABV
					%p.description.thin-line A classic dry stout with a bit of oats, cocao nibs, and Madagascar vanilla bean. Not overly roasty, smooth and very drinkable.
				#beer-archive.gray-back
					%h4.center You should also check out: <a href="@path brewery.html#beer-archive">OUR BEER ARCHIVES</a>
					%h5.center (all the beers we've brewed before and will likely brew again)	
		%div.container.instagram
			#instafeed.grid.half.menu
				%h2.center.line Some photos from our <a href="https://instagram.com/smallbrewpub/">Instagram feed</a>
				:javascript
					var feed = new Instafeed({
						get: 'user',
						userId: 1190863475,
						limit: 60,
						accessToken: '1190863475.467ede5.bfa9ae79b5544512976202caa4df38ea',
						resolution: 'standard_resolution',
						template: '<div class="insta"><a href="{{link}}" target="blank" title="{{caption}}"><img src="{{image}}" /></a></div>',
						sortBy: 'random',
						filter: function(image) {
							return image.tags.indexOf('beer') >= 0;
						}
					});
					feed.run();

		// footer
		<!-- @include _footer -->