<!-- $title Small Brewpub, Oak Cliff, TX | Small Stories -->
<!-- $author Aaron Garcia | http://aarongarcia.com -->

!!! 5

%html{"dir" => "ltr", :lang => "en"}	
	<!-- @include _head -->
	%body#menu-small-beers
		%div.container
			%div.grid.full
				%div.line
		%div.container
			// nav
			%div.grid.half
				<!-- @include _main-nav -->
		%div.container
			%div.grid.half
				%div.line.nav-respond
				<!-- @include _right-nav -->
		%div.container
			%div.grid.full
				%div.line
				%h4.center PLEASE SCROLL DOWN TO PURCHASE TICKETS
				%div.line
		%div.container
			%div.grid.full
				%img{:src => "@path Rae-Lili-Dinner.png"}
		%div.container
			%div.grid.full
				%div.line
		%div.container
			%div.grid.half
				<a href="https://squareup.com/market/small-brewpub/rae-lili-vegetable-dinner" class="sq-embed-item"> online</a>
			%div.grid.half
				<a href="https://squareup.com/market/small-brewpub/rae-lili-dinner" class="sq-embed-item"> online</a>
				<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>

		// footer
		<!-- @include _footer -->