<!-- $title Small Brewpub, Oak Cliff, TX | Small Stories -->
<!-- $author Aaron Garcia | http://aarongarcia.com -->

!!! 5

%html{"dir" => "ltr", :lang => "en"}	
	<!-- @include _head -->
	%body#menu-small-beers
		%div.container
			%div.grid.full
				%div.line
		%div.container
			// nav
			%div.grid.half
				<!-- @include _main-nav -->
		%div.container
			%div.grid.half
				%div.line.nav-respond
				<!-- @include _right-nav -->
		%div.container
			%div.grid.full
				%div.line
				%h4.center * Tickets are limited so we encourage you to purchase in advance *

				%h4 The Sunday night concert series at Small Brewpub continues with two incredible acts on January 24th: Nashville's Joe Fletcher to Dallas for a special Sunday evening show at Oak Cliff's Small Brewpub, along with Dallas' own blues man Charley Crockett. 

				%h4 This is an indoor show where we transform the usually lively Small barroom into a listening room. 

				%h4 Doors at 7PM, music shortly thereafter 
				%h4 $10 

				%h4 <a href="http://joefletchermusic.com/">http://joefletchermusic.com/</a>.
				%h4 <a href="http://charleycrockett.com/">http://charleycrockett.com/</a>
				
				%h4.center 7:00 PM Doors Open
				
				%h4.center PLEASE SCROLL DOWN TO PURCHASE TICKETS
				%div.line
		%div.container
			%div.grid.full
				%img{:src => "@path 002-poster.jpg"}
		%div.container
			%div.grid.full
				%div.line
		%div.container
			%div.grid.half
				<a href="https://squareup.com/market/small-brewpub/dec-sunday-concert-series" class="sq-embed-item"> online</a>
				<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
		// footer
		<!-- @include _footer -->